<!-- views/partials/header.ejs -->

<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">

    <span class="mdl-layout-title">
      <a class="mdl-navigation__link" href="/">
      <img class="android-logo-image" src="images/android-logo.png" />
        JSMF Visualization Demonstration
      </a>
    </span>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">

    </div>
    <!-- Navigation -->
    <div class="android-navigation-container">
      <nav class="android-navigation mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/s">Graph</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/sun">Sunburst</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/models">The Models Behind the Scene</a>
      </nav>
    </div>
  </div>
</div>

<div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
