<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<title>JSMF View</title>
<script src="./bower_components/d3/d3.min.js"></script>
<link rel="stylesheet" href="./bower_components/material-design-lite/material.min.css"/>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="./bower_components/material-design-lite/material.min.js"></script>
<script type="text/javascript" src="./bower_components/jsmf-browser/dist/jsmf-browser.min.js"></script>
<script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./bower_components/node-uuid/uuid.js"></script>
<style type="text/css">
.mdl-textfield__input {
	font-size:12px;
}

.mdl-button {
margin-top: 0px;
}

.full-size {
	width: 100%
}

.mdl-card__media > img {
	max-width: 60%;
}
.mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
	margin-right: 3px;
	margin-left: 3px;
}

.card-overflow {
	position: relative;
	max-height: 15em;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: auto;
}

.mdl-list__item {
  line-height: : 10%;
}

.mdl-list {
  line-height: : 10%;
}

.mdl-card__media {
	background-color: inherit;
}

#file {
	display: none
}

</style>
