<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <script src="js/sunburst.js"></script>
</head>
<body>
<header>
    <% include ./partials/header %>
</header>
<main class="mdl-layout__content">
    <div class="mdl-grid">
        <%- messages() %>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col" id="appName1"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="appName2"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col" id="sequence1"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="sequence2"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col" id="chart1"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="chart2"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col" id="explanation-chart1" style="visibility:hidden;">
            <span class="mdl-layout-title" id="titleProperties-chart1">Node Properties</span>
            <br />
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Properties</th>
                        <th class="mdl-data-table__cell--non-numeric full-size">Value</th>
                    </tr>
                </thead>
                <tbody id="cellsProperties-chart1">
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Editable</td>
                        <td class="mdl-data-table__cell">
                            <input class="mdl-textfield__input" type="text" id="sample1" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="explanation-chart2" style="visibility:hidden;">
            <span class="mdl-layout-title" id="titleProperties-chart2">Node Properties</span>
            <br />
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Properties</th>
                        <th class="mdl-data-table__cell--non-numeric full-size">Value</th>
                    </tr>
                </thead>
                <tbody id="cellsProperties-chart2">
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Editable</td>
                        <td class="mdl-data-table__cell">
                            <input class="mdl-textfield__input" type="text" id="sample1" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col">
            <pre><code id="source_code-chart1" class="java"></code></pre>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
            <pre><code id="source_code-chart2" class="java"></code></pre>
        </div>
    </div>
</main>
<script>
//Getting models from server
if (<%- models %> ) {
    var models = <%- models %>;
    var source_code = <%- source_code %>;

    Object.keys(models).forEach(function(filename, i) {
        var model = models[filename];
        model = jsmf.parse(model);
        var root = _.first(model.elements());

        document.getElementById('appName'+ (i+1).toString() ).innerHTML =
                                    `<h5>Application name: ${root.name}</h5>`;


        console.log(filename.split(".", 1)[0]);



        buildVisualization(buildModel(root), d3.select("#chart"+(i+1).toString()).append("svg:svg")
        .attr("id", filename.split(".", 1)[0])
        .attr("class", "sunburst")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + width / 2 + "," + (height / 2) + ")"));
    });
}



if(<%- metrics %>) {
   var metrics = <%- metrics %>;
   const difference = metrics.diffMetrics;
   var intro = document.createElement("h6");
   intro.innerHTML="Piggy-Backed Application Statistics";
    document.getElementById('appName2').appendChild(intro);
    for(var i in difference) {
        if(i>0) {
            var badge = document.createElement("span");
            badge.classList.add("mdl-badge");
            badge.setAttribute("data-badge",difference[i].val);
            t = document.createTextNode(difference[i].key);
            badge.appendChild(t);
            document.getElementById('appName2').appendChild(badge);
            //<span class="mdl-badge" data-badge="4">Inbox</span>
            //var t =  document.createTextNode(difference[i].val+' more '+difference[i].key+'  ');
            //h6.appendChild(t);
        }
    }
}

</script>
</body>
</html>
