<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <script src="js/sunburst.js"></script>
</head>
<body>
<header>
    <% include ./partials/header %>
</header>
<main class="mdl-layout__content">
    <div class="mdl-grid">
        <%- messages() %>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col" id="appName1"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="appName2"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col" id="sequence1"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="sequence2"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col" id="chart1"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="chart2"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col" id="explanation-chart1" style="visibility:hidden;">
            <span class="mdl-layout-title" id="titleProperties-chart1">Node Properties</span>
            <br />
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Properties</th>
                        <th class="mdl-data-table__cell--non-numeric full-size">Value</th>
                    </tr>
                </thead>
                <tbody id="cellsProperties-chart1">
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Editable</td>
                        <td class="mdl-data-table__cell">
                            <input class="mdl-textfield__input" type="text" id="sample1" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="explanation-chart2" style="visibility:hidden;">
            <span class="mdl-layout-title" id="titleProperties-chart2">Node Properties</span>
            <br />
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Properties</th>
                        <th class="mdl-data-table__cell--non-numeric full-size">Value</th>
                    </tr>
                </thead>
                <tbody id="cellsProperties-chart2">
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Editable</td>
                        <td class="mdl-data-table__cell">
                            <input class="mdl-textfield__input" type="text" id="sample1" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script>
var svg1 = d3.select("#chart1").append("svg:svg")
.attr("id", "chart1")
.attr("class", "sunburst")
.attr("width", width)
.attr("height", height)
.append("g")
.attr("transform", "translate(" + width / 2 + "," + (height / 2) + ")");

var svg2 = d3.select("#chart2").append("svg:svg")
.attr("id", "chart2")
.attr("class", "sunburst")
.attr("width", width)
.attr("height", height)
.append("g")
.attr("transform", "translate(" + width / 2 + "," + (height / 2) + ")");

//Getting models from server
if (<%- model1 %> ) {
    var s_M_1 = <%- model1 %>;
    s_M_1 = JSON.stringify(s_M_1);
    s_M_1 = jsmf.parse(s_M_1);
    var root = _.first(s_M_1.elements());
    document.getElementById('appName1').innerHTML = `<h5>Application name: ${root.name}</h5>`;
    var visuJSMF_1 = buildModel(root);
    buildVisualization(visuJSMF_1, svg1);
}

if (<%- model2 %> ) {
    var s_M_2 = <%- model2 %>;
    s_M_2 = JSON.stringify(s_M_2);
    s_M_2 = jsmf.parse(s_M_2);
    var root = _.first(s_M_2.elements());
    document.getElementById('appName2').innerHTML = `<h5>Application name: ${root.name}</h5>`;
    var visuJSMF_2 = buildModel(root);
    buildVisualization(visuJSMF_2, svg2);
}

if(<%- metrics %>) {
   var metrics = <%- metrics %>;
   const difference = metrics.diffMetrics;
   var intro = document.createElement("h6");
   intro.innerHTML="Piggy-Backed Application Statistics";
    document.getElementById('appName2').appendChild(intro);
    for(var i in difference) {
        if(i>0) {
            var badge = document.createElement("span");
            badge.classList.add("mdl-badge");
            badge.setAttribute("data-badge",difference[i].val);
            t = document.createTextNode(difference[i].key);
            badge.appendChild(t);
            document.getElementById('appName2').appendChild(badge);
            //<span class="mdl-badge" data-badge="4">Inbox</span>
            //var t =  document.createTextNode(difference[i].val+' more '+difference[i].key+'  ');
            //h6.appendChild(t);
        }
    }
    
}

</script>
</body>
</html>
