<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
    <header>
        <% include ./partials/header %>
    </header>

    <main class="mdl-layout__content">

        <div class="mdl-grid">
            <%- messages() %>
        </div>

        <div class="mdl-grid">
            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-shadow--16dp">
                <div class="mdl-card__media">
                    <img src="images/discovery.jpg" alt="" />
                </div>
                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text mdl-color-text--light-blue-900">Uploading IC3 Models</h1>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>
                        First, upload an APK or the output of <a href="http://siis.cse.psu.edu/ic3/">IC3</a>
                        (output to a binary protocol buffer format).<br />
                        Then display the model as graph or sunburst.
                    </p>
                </div>
                <div class="mdl-card__actions mdl-card--border" id="uploadaction">
                    <form id="file-form" action="upload" method="post" enctype="multipart/form-data">
                        <input id="file-select" type="file" name="files[]" multiple />
                        <input id="upload-button" type="submit" value="Proceed analysis" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-grey-300"  accept="application/octet-stream, zz-application/zz-winassoc-dat" disabled />
                    </form>
                </div>

                <div class="mdl-card__supporting-text" id="logs">
                    <div class="card-overflow overflow-y" id="log-auto-scroll">
                        <ul id="logs-list" class="demo-list-item mdl-list"></ul>
                    </div>
                </div>
            </div>

            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-shadow--16dp" id="cardVis" >
                <div class="mdl-card__media">
                    <img src="images/sunburst.png" alt="" />
                </div>
                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text mdl-color-text--light-blue-900">Visualizing Android Models: Graph or SunBurst</h1>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>A default APK will be used in case you didn't submit one in the first step.</p>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="/sun" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Sunburst view</a>
                    <a href="/s" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Graph view</a>
                </div>
            </div>

            <!-- div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-shadow--16dp">
            <div class="mdl-card__media">
            <img src="images/discovery.jpg" alt="" />
        </div>
        <div class="mdl-card__title">
        <h1 class="mdl-card__title-text mdl-color-text--light-blue-900">To be Continued</h1>
    </div>
    <div class="mdl-card__supporting-text">
    <p>Upload other models, connect information, compute differences, etc....</p>
</div>
<div class="mdl-card__actions mdl-card--border">
<input type="file" id="file">
<label for="file" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Upload</label>
</input>
</div> -->
</div>


</main>
<script>
var snackbarContainer = document.querySelector('#demo-snackbar-example');
var showSnackbarButton = document.querySelector('#demo-show-snackbar');
var handler = function(event) {
    showSnackbarButton.style.backgroundColor = '';
};

// auto bottom scroll the div for the logs
var scrolled = false;
function updateScroll() {
    if(!scrolled){
        var element = document.getElementById("log-auto-scroll");
        element.scrollTop = element.scrollHeight;
    }
}
//once a second
//setInterval(updateScroll, 1000);
// only if the user didn't move
document.getElementById("log-auto-scroll").addEventListener("scroll mousedown wheel mousewheel", function(){
    scrolled=true;
});




var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('news', function (data) {
    //console.log(data);

    var color = 'black';
    if (data.indexOf('[CP-1]') >= 0) { color = 'blue'; }
    else if (data.indexOf('[CP-2]') >= 0) { color = 'green'; }
    else if (data.indexOf('[CP-3]') >= 0) { color = 'black'; }

    if (data.indexOf('stderr') >= 0) { color = 'orange'; }

    var div = document.getElementById('logs-list')
    div.innerHTML = div.innerHTML + ' <li class="mdl-list__item mdl-color-text--'
    + color + '">' + data + '</li>';
});


var form = document.getElementById('file-form');
var fileSelect = document.getElementById('file-select');
var uploadButton = document.getElementById('upload-button');


fileSelect.onchange= function(e){
    var fileToSend = e.target.files[0];
    if (fileToSend.name.split('.').pop() != "dat" && fileToSend.name.split('.').pop() != "apk") {

        uploadButton.setAttribute('disabled', true);
        uploadButton.removeAttribute('class');
        uploadButton.setAttribute('class', 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-grey-300')

        labelFileToUpload =  document.querySelector("#labelFileToUpload");
        if (labelFileToUpload) labelFileToUpload.remove();

        var data = {
            message: 'You must submit a .dat or .apk file.',
            timeout: 2000,
            actionHandler: handler,
            actionText: 'Ok'
        };
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
    }
    else {
        uploadButton.removeAttribute('disabled');
        uploadButton.removeAttribute('class');
        uploadButton.setAttribute('class', 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900')

        var p = document.createElement("label");
        p.setAttribute('id', 'labelFileToUpload')
        p.classList.add('mdl-color-text--light-blue-400');
        var ptext = document.createTextNode(fileToSend.name);
        p.appendChild(ptext);
        document.querySelector("#uploadaction").appendChild(p);

        var data = {
            message: 'You can submit the file and select a view.',
            timeout: 2000,
            actionHandler: handler,
            actionText: 'Ok'
        };
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
    }
};


form.onsubmit = function(event) {
    event.preventDefault();

    // Update button text.
    uploadButton.innerHTML = 'Uploading...';

    // Get the selected file from the input.
    // Create a new FormData object.
    var formData = new FormData();
    var files = fileSelect.files;
    for (var i = 0; i < files.length; i++) {
        file = files.item(i);
        formData.append('files[]', file, file.name);
    }

    // Set up the request.
    var xhr = new XMLHttpRequest();
    // Open the connection.
    xhr.open('POST', '/upload');
    //xhr.setRequestHeader("Content-type", "multipart/form-data");

    // Set up a handler for when the request finishes.
    xhr.onreadystatechange = function() { //Call a function when the state changes.
        if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
            // Request finished. Do processing here.
        }
    }
    // Send the Data.
    xhr.send(formData);
}
</script>
</body>
</html>
