<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body>
		<header>
			<% include ./partials/header %>
		</header>

		<main class="mdl-layout__content">

				<div class="mdl-grid">
						<%- messages() %>
				</div>

				<div class="mdl-grid">
					<div class="mdl-card mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-shadow--16dp">
						<div class="mdl-card__media">
							<img src="images/discovery.jpg" alt="" />
						</div>
						<div class="mdl-card__title">
							<h1 class="mdl-card__title-text mdl-color-text--light-blue-900">Uploading IC3 Models</h1>
						</div>
						<div class="mdl-card__supporting-text">
							<p>First upload the output of <a href="http://siis.cse.psu.edu/ic3/">IC3</a>
								(output to a binary protocol buffer format) then display the model as graph / sunburst.</p>
						</div>
						<div id="uploadaction" class="mdl-card__actions mdl-card--border">
							<form action="upload" method="post" enctype="multipart/form-data">
								<input id="file" type="file" name="file" />
									<label for="file" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Upload</label>
								<input id="submitbutton" type="submit" value="Submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-grey-300"  accept="application/octet-stream, zz-application/zz-winassoc-dat" disabled />
							</form>
			  		</div>
					</div>

					<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-shadow--16dp"></div>

					<div id="cardVis" class="mdl-card mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-shadow--16dp">
						<div class="mdl-card__media">
							<img src="images/sunburst.png" alt="" />
						</div>
						<div class="mdl-card__title">
							<h1 class="mdl-card__title-text mdl-color-text--light-blue-900">Visualizing Android Models: Graph or SunBurst</h1>
						</div>
						<div class="mdl-card__supporting-text">
							<p>Then display the model as graph / sunburst.<br />
							An existing APK has already been imported and will be used by default in case you didn't submit one in the first step.</p>
						</div>
						<div class="mdl-card__actions mdl-card--border">
							<a href="/sun" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Sunburst view</a>
							<a href="/s" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Graph view</a>
			  		</div>
					</div>

					<!-- div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-shadow--16dp">
						<div class="mdl-card__media">
							<img src="images/discovery.jpg" alt="" />
						</div>
						<div class="mdl-card__title">
							<h1 class="mdl-card__title-text mdl-color-text--light-blue-900">To be Continued</h1>
						</div>
						<div class="mdl-card__supporting-text">
							<p>Upload other models, connect information, compute differences, etc....</p>
						</div>
						<div class="mdl-card__actions mdl-card--border">
						<input type="file" id="file">
		    				<label for="file" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Upload</label>
						</input>
					</div> -->
				</div>


			<footer>
				<% include ./partials/footer %>
			</footer>

		</main>


<script>
	var snackbarContainer = document.querySelector('#demo-snackbar-example');
	var showSnackbarButton = document.querySelector('#demo-show-snackbar');
	var handler = function(event) {
		showSnackbarButton.style.backgroundColor = '';
	};


	var cfile = document.querySelector("#file");
	var submitbutton = document.querySelector("#submitbutton");
	cfile.onchange= function(e){
		var fileToSend = e.target.files[0];
		if (fileToSend.name.split('.').pop() != "dat") {

			submitbutton.setAttribute('disabled', true);
			submitbutton.removeAttribute('class');
			submitbutton.setAttribute('class', 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-grey-300')

			labelFileToUpload =  document.querySelector("#labelFileToUpload");
			if (labelFileToUpload) labelFileToUpload.remove();

			var data = {
	      message: 'You must submit a .dat file.',
	      timeout: 2000,
	      actionHandler: handler,
	      actionText: 'Ok'
    	};
			snackbarContainer.MaterialSnackbar.showSnackbar(data);
		}
		else {
			submitbutton.removeAttribute('disabled');
			submitbutton.removeAttribute('class');
			submitbutton.setAttribute('class', 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900')

			var p = document.createElement("label");
			p.setAttribute('id', 'labelFileToUpload')
			p.classList.add('mdl-color-text--light-blue-400');
			var ptext = document.createTextNode(fileToSend.name);
			p.appendChild(ptext);
			document.querySelector("#uploadaction").appendChild(p);

			var data = {
	      message: 'You can submit the file and select a view.',
	      timeout: 2000,
	      actionHandler: handler,
	      actionText: 'Ok'
    	};
			snackbarContainer.MaterialSnackbar.showSnackbar(data);
	}


	//console.log("file upload",document.querySelector("#file").value);
	};
</script>
</body>
</html>
