<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>JSMF View</title>
<script src="./bower_components/d3/d3.min.js"></script>
<link rel="stylesheet" href="./bower_components/material-design-lite/material.min.css"/>
<script src="./bower_components/material-design-lite/material.min.js"></script>
<script type="text/javascript" src="./bower_components/jsmf-browser/dist/jsmf-browser.min.js"></script>
<script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
<script src="./bower_components/node-uuid/uuid.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<style type="text/css">
.mdl-textfield__input {
	font-size:12px;
}

.mdl-button {
margin-top: 0px;
}

.full-size {
	width: 100%
}

.mdl-card__media > img {
	max-width: 60%;
}
.mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
	margin-right: 3px;
	margin-left: 3px;
}

#file { 
	display: none 
}

.selected {
    fill: rgb(114,207,121)
}    
    
</style>
</head>
<body>
<!--div class="mdl-layout mdl-js-layout mdl-color--grey-100"-->
	<main class="mdl-layout__content">
    <div class="mdl-grid">
        <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
            <div class="mdl-card__title">
					<h1 class="mdl-card__title-text mdl-color-text--light-blue-900">Model Processing Chain</h1>
            </div>
        <svg version="1.2"  viewBox="0 0 21000 29700" preserveAspectRatio="xMidYMid" fill-rule="evenodd" stroke-width="28.222" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" xmlns:ooo="http://xml.openoffice.org/svg/export" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:presentation="http://sun.com/xmlns/staroffice/presentation" xmlns:smil="http://www.w3.org/2001/SMIL20/" xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xml:space="preserve">
         <!--defs class="ClipPathGroup">
          <clipPath id="presentation_clip_path" clipPathUnits="userSpaceOnUse">
           <rect x="0" y="0" width="21000" height="29700"/>
          </clipPath>
         </defs-->
         <defs class="TextShapeIndex">
          <g ooo:slide="id1" ooo:id-list="id3 id4 id5 id6 id7 id8 id9 id10 id11 id12 id13 id14 id15 id16 id17 id18 id19 id20 id21 id22 id23"/>
         </defs>
         <defs class="EmbeddedBulletChars">
          <g id="bullet-char-template(57356)" transform="scale(0.00048828125,-0.00048828125)">
           <path d="M 580,1141 L 1163,571 580,0 -4,571 580,1141 Z"/>
          </g>
          <g id="bullet-char-template(57354)" transform="scale(0.00048828125,-0.00048828125)">
           <path d="M 8,1128 L 1137,1128 1137,0 8,0 8,1128 Z"/>
          </g>
          <g id="bullet-char-template(10146)" transform="scale(0.00048828125,-0.00048828125)">
           <path d="M 174,0 L 602,739 174,1481 1456,739 174,0 Z M 1358,739 L 309,1346 659,739 1358,739 Z"/>
          </g>
          <g id="bullet-char-template(10132)" transform="scale(0.00048828125,-0.00048828125)">
           <path d="M 2015,739 L 1276,0 717,0 1260,543 174,543 174,936 1260,936 717,1481 1274,1481 2015,739 Z"/>
          </g>
          <g id="bullet-char-template(10007)" transform="scale(0.00048828125,-0.00048828125)">
           <path d="M 0,-2 C -7,14 -16,27 -25,37 L 356,567 C 262,823 215,952 215,954 215,979 228,992 255,992 264,992 276,990 289,987 310,991 331,999 354,1012 L 381,999 492,748 772,1049 836,1024 860,1049 C 881,1039 901,1025 922,1006 886,937 835,863 770,784 769,783 710,716 594,584 L 774,223 C 774,196 753,168 711,139 L 727,119 C 717,90 699,76 672,76 641,76 570,178 457,381 L 164,-76 C 142,-110 111,-127 72,-127 30,-127 9,-110 8,-76 1,-67 -2,-52 -2,-32 -2,-23 -1,-13 0,-2 Z"/>
          </g>
          <g id="bullet-char-template(10004)" transform="scale(0.00048828125,-0.00048828125)">
           <path d="M 285,-33 C 182,-33 111,30 74,156 52,228 41,333 41,471 41,549 55,616 82,672 116,743 169,778 240,778 293,778 328,747 346,684 L 369,508 C 377,444 397,411 428,410 L 1163,1116 C 1174,1127 1196,1133 1229,1133 1271,1133 1292,1118 1292,1087 L 1292,965 C 1292,929 1282,901 1262,881 L 442,47 C 390,-6 338,-33 285,-33 Z"/>
          </g>
          <g id="bullet-char-template(9679)" transform="scale(0.00048828125,-0.00048828125)">
           <path d="M 813,0 C 632,0 489,54 383,161 276,268 223,411 223,592 223,773 276,916 383,1023 489,1130 632,1184 813,1184 992,1184 1136,1130 1245,1023 1353,916 1407,772 1407,592 1407,412 1353,268 1245,161 1136,54 992,0 813,0 Z"/>
          </g>
          <g id="bullet-char-template(8226)" transform="scale(0.00048828125,-0.00048828125)">
           <path d="M 346,457 C 273,457 209,483 155,535 101,586 74,649 74,723 74,796 101,859 155,911 209,963 273,989 346,989 419,989 480,963 531,910 582,859 608,796 608,723 608,648 583,586 532,535 482,483 420,457 346,457 Z"/>
          </g>
          <g id="bullet-char-template(8211)" transform="scale(0.00048828125,-0.00048828125)">
           <path d="M -4,459 L 1135,459 1135,606 -4,606 -4,459 Z"/>
          </g>
         </defs>
         <defs class="TextEmbeddedBitmaps"/>
         <g>
          <g id="id2" class="Master_Slide">
           <g id="bg-id2" class="Background"/>
           <g id="bo-id2" class="BackgroundObjects"/>
          </g>
         </g>
         <g class="SlideGroup">
          <g>
           <g id="id1" class="Slide" clip-path="url(#presentation_clip_path)">
            <g class="Page">
             <g class="com.sun.star.drawing.CustomShape">
              <g id="id3">
               <rect class="BoundingBox" stroke="none" fill="none" x="1535" y="5825" width="2795" height="2668"/>
               <path fill="rgb(114,159,207)" stroke="none" d="M 2932,8492 L 1535,8492 1535,5825 4329,5825 4329,8492 2932,8492 Z"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="1986" y="7328"><tspan fill="rgb(0,0,0)" stroke="none">ic3.proto</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.CustomShape">
              <g id="id4">
               <rect class="BoundingBox" stroke="none" fill="none" x="1507" y="1253" width="2922" height="2668"/>
               <path fill="rgb(114,159,207)" stroke="none" d="M 2968,3920 L 1507,3920 1507,1253 4428,1253 4428,3920 2968,3920 Z"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="2036" y="2205"><tspan fill="rgb(0,0,0)" stroke="none">Protobuf</tspan></tspan></tspan><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="1912" y="2756"><tspan fill="rgb(0,0,0)" stroke="none"> </tspan><tspan fill="rgb(0,0,0)" stroke="none">grammar</tspan></tspan></tspan><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="2377" y="3307"><tspan fill="rgb(0,0,0)" stroke="none">pegjs</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.CustomShape">
              <g id="id5">
               <rect class="BoundingBox" stroke="none" fill="none" x="10624" y="5825" width="2922" height="2668"/>
               <path fill="rgb(114,159,207)" stroke="none" d="M 12085,8492 L 10624,8492 10624,5825 13545,5825 13545,8492 12085,8492 Z"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="11291" y="6777"><tspan fill="rgb(0,0,0)" stroke="none">M2 IC3</tspan></tspan></tspan><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="11566" y="7328"><tspan fill="rgb(0,0,0)" stroke="none">Jsmf</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.TextShape">
              <g id="id6">
               <rect class="BoundingBox" stroke="none" fill="none" x="3159" y="4683" width="3303" height="1354"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-style="italic" font-weight="400"><tspan class="TextPosition" x="3409" y="5253"><tspan fill="rgb(0,0,0)" stroke="none">conformsTo</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.ConnectorShape">
              <g id="id7">
               <rect class="BoundingBox" stroke="none" fill="none" x="4428" y="2586" width="7808" height="3241"/>
               <path fill="none" stroke="rgb(0,0,0)" d="M 4429,2587 L 12085,2587 12085,5396"/>
               <path fill="rgb(0,0,0)" stroke="none" d="M 12085,5826 L 12235,5376 11935,5376 12085,5826 Z"/>
              </g>
             </g>
             <g class="com.sun.star.drawing.TextShape">
              <g id="id8">
               <rect class="BoundingBox" stroke="none" fill="none" x="5191" y="1255" width="4954" height="1905"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="5441" y="1825"><tspan fill="rgb(0,0,0)" stroke="none">Jsmf metamodel </tspan></tspan><tspan class="TextPosition" x="5441" y="2376"><tspan fill="rgb(0,0,0)" stroke="none">generation </tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.CustomShape">
              <g id="id9">
               <rect class="BoundingBox" stroke="none" fill="none" x="1507" y="10778" width="2922" height="2668"/>
               <path fill="rgb(114,159,207)" stroke="none" d="M 2968,13445 L 1507,13445 1507,10778 4428,10778 4428,13445 2968,13445 Z"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="1804" y="12281"><tspan fill="rgb(0,0,0)" stroke="none">ic3App.dat</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.ConnectorShape">
              <g id="id10">
               <rect class="BoundingBox" stroke="none" fill="none" x="2809" y="3921" width="302" height="1907"/>
               <path fill="none" stroke="rgb(0,0,0)" d="M 2932,5826 L 2960,4351"/>
               <path fill="rgb(0,0,0)" stroke="none" d="M 2968,3921 L 2810,4368 3109,4374 2968,3921 Z"/>
              </g>
             </g>
             <g class="com.sun.star.drawing.ConnectorShape">
              <g id="id11">
               <rect class="BoundingBox" stroke="none" fill="none" x="2789" y="8493" width="302" height="2288"/>
               <path fill="none" stroke="rgb(0,0,0)" d="M 2968,10779 L 2939,8923"/>
               <path fill="rgb(0,0,0)" stroke="none" d="M 2932,8493 L 2789,8945 3089,8941 2932,8493 Z"/>
              </g>
             </g>
             <g class="com.sun.star.drawing.TextShape">
              <g id="id12">
               <rect class="BoundingBox" stroke="none" fill="none" x="3030" y="9215" width="3305" height="1354"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-style="italic" font-weight="400"><tspan class="TextPosition" x="3280" y="9785"><tspan fill="rgb(0,0,0)" stroke="none">conformsTo</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.CustomShape">
              <g id="id13">
               <rect class="BoundingBox" stroke="none" fill="none" x="10651" y="10778" width="2922" height="2668"/>
               <path fill="rgb(114,159,207)" stroke="none" d="M 12112,13445 L 10651,13445 10651,10778 13572,10778 13572,13445 12112,13445 Z"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="10839" y="12281"><tspan fill="rgb(0,0,0)" stroke="none">ic3App.jsmf</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.CustomShape">
              <g id="id14">
               <rect class="BoundingBox" stroke="none" fill="none" x="5825" y="10778" width="2922" height="2668"/>
               <path fill="rgb(114,159,207)" stroke="none" d="M 7286,13445 L 5825,13445 5825,10778 8746,10778 8746,13445 7286,13445 Z"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="6028" y="11730"><tspan fill="rgb(0,0,0)" stroke="none">API Google</tspan></tspan></tspan><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="6452" y="12281"><tspan fill="rgb(0,0,0)" stroke="none">Proto→</tspan></tspan></tspan><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="6932" y="12832"><tspan fill="rgb(0,0,0)" stroke="none">JS </tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.ConnectorShape">
              <g id="id15">
               <rect class="BoundingBox" stroke="none" fill="none" x="4428" y="11962" width="1399" height="301"/>
               <path fill="none" stroke="rgb(0,0,0)" d="M 4429,12112 L 5396,12112"/>
               <path fill="rgb(0,0,0)" stroke="none" d="M 5826,12112 L 5376,11962 5376,12262 5826,12112 Z"/>
              </g>
             </g>
             <g class="com.sun.star.drawing.ConnectorShape">
              <g id="id16">
               <rect class="BoundingBox" stroke="none" fill="none" x="8746" y="11962" width="1907" height="301"/>
               <path fill="none" stroke="rgb(0,0,0)" d="M 8747,12112 L 10222,12112"/>
               <path fill="rgb(0,0,0)" stroke="none" d="M 10652,12112 L 10202,11962 10202,12262 10652,12112 Z"/>
              </g>
             </g>
             <g class="com.sun.star.drawing.ConnectorShape">
              <g id="id17">
               <rect class="BoundingBox" stroke="none" fill="none" x="11940" y="8493" width="302" height="2288"/>
               <path fill="none" stroke="rgb(0,0,0)" d="M 12112,10779 L 12090,8923"/>
               <path fill="rgb(0,0,0)" stroke="none" d="M 12085,8493 L 11940,8945 12240,8941 12085,8493 Z"/>
              </g>
             </g>
             <g class="com.sun.star.drawing.TextShape">
              <g id="id18">
               <rect class="BoundingBox" stroke="none" fill="none" x="11922" y="9172" width="3557" height="1354"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="12172" y="9742"><tspan fill="rgb(0,0,0)" stroke="none">conformsTo()</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.CustomShape">
              <g id="id19">
               <rect class="BoundingBox" stroke="none" fill="none" x="15477" y="10778" width="2922" height="2668"/>
               <path fill="rgb(114,159,207)" stroke="none" d="M 16938,13445 L 15477,13445 15477,10778 18398,10778 18398,13445 16938,13445 Z"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="16305" y="12006"><tspan fill="rgb(0,0,0)" stroke="none">graph</tspan></tspan></tspan><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="16144" y="12557"><tspan fill="rgb(0,0,0)" stroke="none">d3/jsmf</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.ConnectorShape">
              <g id="id20">
               <rect class="BoundingBox" stroke="none" fill="none" x="13572" y="11962" width="1907" height="301"/>
               <path fill="none" stroke="rgb(0,0,0)" d="M 13573,12112 L 15048,12112"/>
               <path fill="rgb(0,0,0)" stroke="none" d="M 15478,12112 L 15028,11962 15028,12262 15478,12112 Z"/>
              </g>
             </g>
             <g class="com.sun.star.drawing.TextShape">
              <g id="id21">
               <rect class="BoundingBox" stroke="none" fill="none" x="7731" y="8366" width="3303" height="2159"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="7981" y="8936"><tspan fill="rgb(0,0,0)" stroke="none">Generic JS </tspan></tspan><tspan class="TextPosition" x="7981" y="9487"><tspan fill="rgb(0,0,0)" stroke="none">Object→  </tspan></tspan><tspan class="TextPosition" x="7981" y="10038"><tspan fill="rgb(0,0,0)" stroke="none">JSMF</tspan></tspan></tspan></text>
              </g>
             </g>
             <g class="com.sun.star.drawing.ConnectorShape">
              <g id="id22">
               <rect class="BoundingBox" stroke="none" fill="none" x="9549" y="7158" width="1078" height="4955"/>
               <path fill="none" stroke="rgb(0,0,0)" d="M 10625,7159 L 9699,7159 9699,11682"/>
               <path fill="rgb(0,0,0)" stroke="none" d="M 9699,12112 L 9849,11662 9549,11662 9699,12112 Z"/>
              </g>
             </g>
             <g class="com.sun.star.drawing.TextShape">
              <g id="id23">
               <rect class="BoundingBox" stroke="none" fill="none" x="13192" y="13446" width="3303" height="2033"/>
               <text class="TextShape"><tspan class="TextParagraph" font-family="Liberation Sans, sans-serif" font-size="493px" font-weight="400"><tspan class="TextPosition" x="13442" y="14016"><tspan fill="rgb(0,0,8)" stroke="none">Generic </tspan></tspan><tspan class="TextPosition" x="13442" y="14567"><tspan fill="rgb(0,0,0)" stroke="none">Jsmf →  d3 </tspan></tspan><tspan class="TextPosition" x="13442" y="15118"><tspan fill="rgb(0,0,0)" stroke="none">graph</tspan></tspan></tspan></text>
              </g>
             </g>
            </g>
           </g>
          </g>
         </g>
        </svg>
            
        </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
                <div class=" mdl-card__media">
					<img src="images/processM2.png" alt="" />
				</div>
				<div class="mdl-card__title">
					<h1 class="mdl-card__title-text mdl-color-text--light-blue-900">Uploading IC3 Models</h1>
				</div>
				<div class="mdl-card__supporting-text">
					<p id="selectedElement">Select a phase...</p>
				</div>
				<div class="mdl-card__actions mdl-card--border">
                    <button type="animate" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Animate</button>
                </div>
            </div>
    </div>    
</main>
<!--/div-->   
    
<script>

    
document.addEventListener('DOMContentLoaded', function() {    
       
    var elements = Array.from(document.querySelectorAll('path'));
    
    elements.forEach(function(el) {
        el.addEventListener("click", start);
    });
    
    
    // event listener functions
  
    
});
    
function start(e){
    //console.log(e);
    var g = e.target.parentNode;
    var description = document.querySelector("#selectedElement");
    var elements = Array.from(document.querySelectorAll('path'));
    
    elements.forEach(function(el) {
        el.setAttribute("class", "none");
    });
    
    e.target.setAttribute("class","selected");
    //console.log(g.id);
    var id=g.id;
    var codeEx = document.getElementById("codeExcerpt");
    console.log(codeEx);
    if(codeEx!==null) {
        description.parentNode.removeChild(codeEx);
    }
    var textC = "wrong selection";
    var codePre = document.createElement("pre");
    
    switch(id) {
        case "id3": textC= 'IC3 proto file describing (in a specific text format) the metamodel of IC3 files';
                    codePre.setAttribute("class","prettyprint lang-js");
                    codePre.setAttribute("id","codeExcerpt");
                    codePre.textContent=" \"syntax = \"\"proto2\"; \n package edu.psu.cse.siis.ic3; \n enum { AttributeKind  ACTION = 0; ... }\n \n message Attribute { \n optional AttributeKind kind = 1; \n repeated string value = 2; \n repeated int32 int_value = 3;} \n ...";
                    description.parentNode.appendChild(codePre);
                    break;  
        case "id4": textC='Definition of a Grammar to parse Protobuf file helping in the generation of JSMF metamodel \n Inside the bloc {} definition the Javascript code allowing to build JSMF model elements: here the Enumeration';
                    codePre.setAttribute("class","prettyprint lang-js");
                    codePre.setAttribute("id","codeExcerpt");
                    codePre.textContent=" Enum = 'enum' ws id:Identifier ws '{' ws lit:Litteral* ws '}' ws \n { \n var e = new jsmf.Enum(id,lit); \n MMProto.add(e);\n }";
                    description.parentNode.appendChild(codePre);
            console.log('protobufGrammar'); break;
        case "id5": textC='M2 IC3 expressed in JSMF obtained from protobuf grammar parsing';
            console.log('M2 IC3 Metamodel written in IC3'); break;
        case "id9": textC='Binary file provided by IC3 analysis for a given Android application';
            console.log('ic3App.dat = input file'); break;
        case "id14": textC='Using the Google API use for geeting a raw JavaScript Object';
            console.log('ApigoogleProtobuf to JS object'); break;
        case "id13": textC='Application model expressed JSMF conforms to the protobuf extracted metamodel';
            console.log('ic3App.jsmf'); break;
        case "id19": textC='Transformation of JSMF model into D3 visualizable JS strucutre (embedding JSMF model elements into nodes)';
            console.log('Visualisation Model = graph'); break;
        default : break;    
    }
    
    description.textContent=textC;
};
  
    
</script>    
</body>
